body {
    background: #191a19;
}

hr,
.vr {
    border: 1px solid #d8e9a8;
    border-radius: 10px;
    opacity: 100%;
}

.vr {
    padding: 0;
}

h1,
h2,
h3 {
    color: #d8e9a8;
}

h1,
h2 {
    text-align: center;
}

h3 {
    font-size: larger;
}

label {
    color: #d8e9a8;
}

#album-page-cover {
    max-width: 25%;
}

.nav-tabs {
    border-color: #1e5128;
    border-bottom-width: 3px;
}

.nav-link.active {
    color: #d8e9a8 !important;
    background-color: #1e5128 !important;
    border-color: #1e5128 !important;
}

.nav-link {
    color: #d8e9a8;
    border-width: 3px !important;
}

.nav-link:hover {
    color: #b0be89;
    border-color: #1e5128 !important;
    border-width: 3px !important;
}

.timestamp:hover {
    text-decoration-color: #b0be89;
    color: #b0be89;
}

.timestamp {
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #d8e9a8;
}

.form-range::-webkit-slider-thumb {
    background: #1e5128;
}

.form-range::-webkit-slider-runnable-track {
    background: #d8e9a8;
}

.custom-tooltip {
    --bs-tooltip-bg: #1e5128;
    --bs-tooltip-color: #d8e9a8;
}

.add-note-button,
.add-note-button:focus {
    background-color: #d8e9a8;
    color: #1e5128;
    padding: 0px;
    border-width: 5px;
    border-color: #1e5128;
}

.add-note-button:hover {
    background-color: #191a19;
}

.modal-content {
    background-color: #191a19;
}

.close-btn {
    color: #d8e9a8;
    border-width: 4px;
    border-color: #d8e9a8;
}

.close-btn:hover {
    color: #1e5128;
    border-width: 4px;
    border-color: #1e5128;
}

.btn-primary {
    color: #1e5128;
    background-color: #d8e9a8;
    border-width: 4px;
    border-color: #1e5128;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #191a19;
    color: #1e5128;
    border-color: #1e5128;
}

.modal-header,
.modal-footer {
    border: 0px;
}

.word-wrap {
    word-wrap: break-word;
    word-break: break-word;
}

.artist-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timestampInput {
    width: 85%;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

#add-note-spacer {
    height: 64px;
}
