body {
    background: #191a19;
}

footer {
    background: #163b1e;
}

hr,
.vr {
    border: 1px solid #d8e9a8;
    border-radius: 10px;
    opacity: 100%;
}

.vr {
    padding: 0;
}

h1,
h2,
h3,
p {
    color: #d8e9a8;
}

h1,
h2 {
    text-align: center;
}

h3 {
    font-size: larger;
}

label {
    color: #d8e9a8;
}

#album-page-cover {
    max-width: 25%;
}

a:hover {
    text-decoration-color: #b0be89;
}

a {
    text-decoration-color: #d8e9a8;
}

.spotify-link {
    position: relative;
    top: 5px;
}

.bi-github {
    position: relative;
    top: 10px;
}

.bi-github:hover {
    fill: #191a19;
}

.nav-tabs {
    border-color: #163b1e;
    border-bottom-width: 3px;
}

.nav-link.active {
    color: #d8e9a8 !important;
    background-color: #163b1e !important;
    border-color: #163b1e !important;
}

.nav-link {
    color: #d8e9a8;
    border-width: 3px !important;
}

.nav-link:hover {
    color: #b0be89;
    border-color: #163b1e !important;
    border-width: 3px !important;
}

.timestamp:hover {
    text-decoration-color: #b0be89;
    color: #b0be89;
}

.timestamp {
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #d8e9a8;
}

.form-range::-webkit-slider-thumb {
    background: #163b1e;
}

.form-range::-webkit-slider-runnable-track {
    background: #d8e9a8;
}

.custom-tooltip {
    --bs-tooltip-bg: #163b1e;
    --bs-tooltip-color: #d8e9a8;
}

.add-note-button,
.add-note-button:focus,
.pause-button,
.pause-button:focus {
    background-color: #d8e9a8;
    color: #163b1e;
    padding: 0px;
    border-width: 5px;
    border-color: #163b1e;
}

.add-note-button:hover,
.pause-button.focus {
    background-color: #191a19;
}

.bi-pause-fill {
    width: 100%;
    height: 100%;
}

.pause-button {
    width: 25%;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.modal-content {
    background-color: #191a19;
}

.comment-count {
    width: 14%;
}

@media (min-width: 576px) {
    .pause-button {
        width: 15%;
    }
}

@media (min-width: 768px) {
    .comment-count {
        width: 7%;
    }

    .pause-button {
        width: 10%;
        position: fixed;
        right: 30px;
        bottom: 30px;
    }
}

@media (min-width: 992px) {
    .pause-button {
        width: 5%;
    }
}

.close-btn {
    color: #d8e9a8;
    border-width: 4px;
    border-color: #d8e9a8;
}

.close-btn:hover {
    color: #163b1e;
    border-width: 4px;
    border-color: #163b1e;
}

.btn-primary {
    color: #163b1e;
    background-color: #d8e9a8;
    border-width: 4px;
    border-color: #163b1e;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #191a19;
    color: #163b1e;
    border-color: #163b1e;
}

.modal-header,
.modal-footer {
    border: 0px;
}

.main-nav {
    background-color: #163b1e;
}

.small-text {
    font-size: 1.5rem;
}

.word-wrap {
    word-wrap: break-word;
    word-break: break-word;
}

.artist-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timestampInput {
    width: 85%;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

#add-note-spacer {
    height: 64px;
}

#errorModalTriggerButton {
    display: none;
}
